/.idea/
/*.iml
/.vscode/

/integrations/nextcloud/vendor/
/integrations/nextcloud/vendor-bin/*/vendor/

/integrations/nextcloud/.php-cs-fixer.cache
/integrations/nextcloud/tests/.phpunit.cache

/node_modules/
/integrations/*/node_modules/
/packages/*/node_modules/
/integrations/nextcloud/js/
/integrations/nextcloud/css/
/dist/
/graphify-out/
